<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery Upload</title>
</head>
<body>
    <!-- Form for uploading image -->
    <form action="{% url 'image' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="image">Upload Image:</label>
        <input type="file" name="image" id="image" required>
        <button type="submit">Submit</button>
    </form>

    <h2>Gallery</h2>
    <!-- Display images if there are any -->
    <div>
        {% for i in gallery_images %}
        {% if i.feedimage %}
        {% else %}
            <p>No image for this gallery item</p>
        {% endif %}
    {% empty %}
        <p>No images uploaded yet.</p>
    {% endfor %}
    </div>
    <a href="{% url 'logout' %}"><button>log out</button></a>
</body>
</html>