{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    </head>
    <body>

        <h2>Signup Form</h2>
    
        <form action="{% url 'signin' %}" style="border:1px solid #ccc" method="post">
            {% csrf_token %}
            <div class="container">
                <label><b>Name</b></label>
                <input type="text" placeholder="Enter Name" name="username" required>
                <label><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" required>
    
                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
    
                <label><b>Repeat Password</b></label>
                <input type="password" placeholder="Repeat Password" name="confirmpassword" required>
                <div class="clearfix">
                    <button type="submit" class="signupbtn" value="submit">Sign Up</button>
                </div> 
            </div>
        </form>
        {% if messeges %}
            {% for i in messeges %}
            <p>{{ i }}</p>
            {% endfor %}
            {% endif %}
    </body>
</html>